In [47]:
import os
import pandas as pd
import numpy as np
import re

In [48]:
PUIdata = os.getenv('PUIDATA')

In [49]:
df_cusp = pd.read_csv('/projects/open/NYCOpenData/nycopendata/data/erm2-nwe9/1446832678/erm2-nwe9', usecols = [0, 23])

In [68]:
df_cusp_big = pd.read_csv('/projects/open/NYCOpenData/nycopendata/data/erm2-nwe9/1446832678/erm2-nwe9')

/opt/rh/anaconda/root/envs/PUI2016_Python3/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (8,17,39,40,47,48) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [70]:
df_cusp_big.head()

,Unique Key,Created Date,Closed Date,Agency,Agency Name,Complaint Type,Descriptor,Location Type,Incident Zip,Incident Address,...,Bridge Highway Name,Bridge Highway Direction,Road Ramp,Bridge Highway Segment,Garage Lot Name,Ferry Direction,Ferry Terminal Name,Latitude,Longitude,Location
0,31911011,11/05/2015 02:59:15 AM,NaN,DOT,Department of Transportation,Street Condition,Pothole,NaN,11224,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.573431,-73.991742,"(40.57343122248129, -73.99174247588253)"
1,31908754,11/05/2015 02:09:49 AM,NaN,CHALL,CHALL,Opinion for the Mayor,HOUSING,NaN,NaN,NaN,...,NaN,NaN,NaN,1-1-1173130914,NaN,NaN,NaN,NaN,NaN,NaN
2,31910423,11/05/2015 02:06:51 AM,NaN,DPR,Department of Parks and Recreation,Root/Sewer/Sidewalk Condition,Trees and Sidewalks Program,Street,11234,1157 EAST 57 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.625004,-73.920726,"(40.62500363580505, -73.92072558378698)"
3,31909924,11/05/2015 02:02:20 AM,NaN,NYPD,New York City Police Department,Illegal Parking,Blocked Hydrant,Street/Sidewalk,11218,722 EAST 4 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.634522,-73.974790,"(40.634522428879706, -73.97479041437481)"
4,31913310,11/05/2015 01:57:20 AM,11/05/2015 01:57:31 AM,HRA,HRA Benefit Card Replacement,Benefit Card Replacement,Medicaid,NYC Street Address,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [50]:
df_cusp.columns

Index(['Unique Key', 'Community Board'], dtype='object')

In [51]:
df_cusp.count()

Unique Key         10187766
Community Board    10187766
dtype: int64

In [52]:
df_cusp.head()

   Unique Key Community Board
0    31911011     13 BROOKLYN
1    31908754   0 Unspecified
2    31910423     18 BROOKLYN
3    31909924     12 BROOKLYN
4    31913310   0 Unspecified

In [53]:
'''
Immediately, we see that there are entries under 'Community Board'
that are duplicates and also invalid with two counts of '0 Unspecified'
in the dataframe. I will proceed to drop those first.
'''
df_cusp = df_cusp.drop_duplicates('Community Board')

In [54]:
df_cusp['Community Board']

0                      13 BROOKLYN
1                    0 Unspecified
2                      18 BROOKLYN
3                      12 BROOKLYN
5                 02 STATEN ISLAND
7                     08 MANHATTAN
8                      06 BROOKLYN
10                        10 BRONX
11                    06 MANHATTAN
12                     04 BROOKLYN
13                       04 QUEENS
14                    09 MANHATTAN
15                     14 BROOKLYN
16                    05 MANHATTAN
18                    02 MANHATTAN
19                       10 QUEENS
20                       07 QUEENS
21                       02 QUEENS
23                     11 BROOKLYN
24                       05 QUEENS
25                     05 BROOKLYN
27                       09 QUEENS
32                    12 MANHATTAN
34                     01 BROOKLYN
36                    11 MANHATTAN
37                        03 BRONX
39                03 STATEN ISLAND
40                     08 BROOKLYN
43                     03 BROOKLYN
46                    07 MANHATTAN
                   ...
118                       05 BRONX
119                    15 BROOKLYN
121                    02 BROOKLYN
127                       12 BRONX
130                      03 QUEENS
145                      06 QUEENS
147               01 STATEN ISLAND
159                       01 BRONX
163                      01 QUEENS
169                    17 BROOKLYN
186                       11 BRONX
218             Unspecified QUEENS
223                    09 BROOKLYN
231          Unspecified MANHATTAN
234           Unspecified BROOKLYN
236                    07 BROOKLYN
489              Unspecified BRONX
2404                  64 MANHATTAN
3798                     81 QUEENS
5218                   55 BROOKLYN
5733                     83 QUEENS
6284     Unspecified STATEN ISLAND
6378                      28 BRONX
8430                     80 QUEENS
8455                      26 BRONX
9516              95 STATEN ISLAND
17464                    82 QUEENS
27661                     27 BRONX
32926                  56 BROOKLYN
41764                    84 QUEENS
Name: Community Board, dtype: object

In [55]:
len(df_cusp['Community Board'].unique())

77

In [56]:
df_cusp.count()

Unique Key         77
Community Board    77
dtype: int64

In [57]:
'''
There are still 77 unique entries when there should only be 59,
so now we will drop the following invalid entries.
'''
drop_dist = ['0 Unspecified', 
            'Unspecified MANHATTAN', '64 MANHATTAN', 
            'Unspecified BROOKLYN', '55 BROOKLYN', '56 BROOKLYN', 
            'Unspecified BRONX', '26 BRONX', '27 BRONX', '28 BRONX',
            'Unspecified QUEENS', '83 QUEENS', '80 QUEENS', '82 QUEENS', '81 QUEENS', '84 QUEENS',
            'Unspecified STATEN ISLAND', '95 STATEN ISLAND', ]

In [58]:
df_cusp = df_cusp[~df_cusp['Community Board'].isin(drop_dist)]
len(df_cusp['Community Board'].unique())

59

In [59]:
df_cusp.sort_values('Community Board')

     Unique Key   Community Board
159    31909034          01 BRONX
34     31909669       01 BROOKLYN
52     31915232      01 MANHATTAN
163    31911007         01 QUEENS
147    31913812  01 STATEN ISLAND
68     31914147          02 BRONX
121    31913558       02 BROOKLYN
18     31913779      02 MANHATTAN
21     31913892         02 QUEENS
5      31914148  02 STATEN ISLAND
37     31914325          03 BRONX
43     31913572       03 BROOKLYN
57     31914926      03 MANHATTAN
130    31910832         03 QUEENS
39     31911891  03 STATEN ISLAND
51     31908951          04 BRONX
12     31912284       04 BROOKLYN
93     31909975      04 MANHATTAN
13     31911299         04 QUEENS
118    31915176          05 BRONX
25     31913898       05 BROOKLYN
16     31913776      05 MANHATTAN
24     31913895         05 QUEENS
105    31911668          06 BRONX
8      31913909       06 BROOKLYN
11     31909392      06 MANHATTAN
145    31913080         06 QUEENS
53     31911621          07 BRONX
236    31915193       07 BROOKLYN
46     31908029      07 MANHATTAN
20     31907956         07 QUEENS
115    31912794          08 BRONX
40     31914562       08 BROOKLYN
7      31912611      08 MANHATTAN
90     31910712         08 QUEENS
56     31911988          09 BRONX
223    31912028       09 BROOKLYN
14     31909030      09 MANHATTAN
27     31912897         09 QUEENS
10     31911308          10 BRONX
98     31915177       10 BROOKLYN
47     31914784      10 MANHATTAN
19     31915178         10 QUEENS
186    31910884          11 BRONX
23     31910350       11 BROOKLYN
36     31910993      11 MANHATTAN
103    31911356         11 QUEENS
127    31911204          12 BRONX
3      31909924       12 BROOKLYN
32     31913585      12 MANHATTAN
76     31912323         12 QUEENS
0      31911011       13 BROOKLYN
66     31909409         13 QUEENS
15     31909884       14 BROOKLYN
96     31911877         14 QUEENS
119    31908106       15 BROOKLYN
78     31915575       16 BROOKLYN
169    31910020       17 BROOKLYN
2      31910423       18 BROOKLYN

In [ ]:
'''
59 Unique Community District values were obtained after dropping
duplicates from the original dataframe and removing entries entries
where the district number was placed after the borough name.
'''

In [71]:
result = pd.merge(df_cusp_big, df_cusp, how='right', on=['Community Board'])
result.head()

,Unique Key_x,Created Date,Closed Date,Agency,Agency Name,Complaint Type,Descriptor,Location Type,Incident Zip,Incident Address,...,Bridge Highway Direction,Road Ramp,Bridge Highway Segment,Garage Lot Name,Ferry Direction,Ferry Terminal Name,Latitude,Longitude,Location,Unique Key_y
0,31911011,11/05/2015 02:59:15 AM,NaN,DOT,Department of Transportation,Street Condition,Pothole,NaN,11224,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,40.573431,-73.991742,"(40.57343122248129, -73.99174247588253)",31911011
1,31912863,11/05/2015 12:01:18 AM,11/05/2015 02:23:04 AM,NYPD,New York City Police Department,Illegal Parking,Commercial Overnight Parking,Street/Sidewalk,11224,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,40.577543,-73.997876,"(40.577543215593856, -73.99787609452332)",31911011
2,31912876,11/04/2015 09:14:00 PM,NaN,DSNY,BCC - Brooklyn South,Sweeping/Missed,3A Sweeping/Missed,Sidewalk,11224,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,40.575452,-73.995382,"(40.57545160215122, -73.99538155017676)",31911011
3,31909323,11/04/2015 09:11:00 PM,NaN,DSNY,A - Brooklyn,Dirty Conditions,E3 Dirty Sidewalk,Sidewalk,11224,2955 WEST 29 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,40.573626,-73.995033,"(40.57362629295864, -73.99503251240156)",31911011
4,31909309,11/04/2015 08:17:21 PM,NaN,DSNY,Department of Sanitation,Graffiti,Graffiti,Residential,11214,126 BAY 53 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,40.582920,-73.986863,"(40.58291955234777, -73.98686312710399)",31911011

In [80]:
result_count = result['Community Board'].unique()
len(result_count)

59

In [81]:
'''
Current dataframe has content of original CSV but with duplicate/invalid entries
based on 'Community Board' column removed.
'''
result.head()

,Unique Key_x,Created Date,Closed Date,Agency,Agency Name,Complaint Type,Descriptor,Location Type,Incident Zip,Incident Address,...,Bridge Highway Direction,Road Ramp,Bridge Highway Segment,Garage Lot Name,Ferry Direction,Ferry Terminal Name,Latitude,Longitude,Location,Unique Key_y
0,31911011,11/05/2015 02:59:15 AM,NaN,DOT,Department of Transportation,Street Condition,Pothole,NaN,11224,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,40.573431,-73.991742,"(40.57343122248129, -73.99174247588253)",31911011
1,31912863,11/05/2015 12:01:18 AM,11/05/2015 02:23:04 AM,NYPD,New York City Police Department,Illegal Parking,Commercial Overnight Parking,Street/Sidewalk,11224,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,40.577543,-73.997876,"(40.577543215593856, -73.99787609452332)",31911011
2,31912876,11/04/2015 09:14:00 PM,NaN,DSNY,BCC - Brooklyn South,Sweeping/Missed,3A Sweeping/Missed,Sidewalk,11224,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,40.575452,-73.995382,"(40.57545160215122, -73.99538155017676)",31911011
3,31909323,11/04/2015 09:11:00 PM,NaN,DSNY,A - Brooklyn,Dirty Conditions,E3 Dirty Sidewalk,Sidewalk,11224,2955 WEST 29 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,40.573626,-73.995033,"(40.57362629295864, -73.99503251240156)",31911011
4,31909309,11/04/2015 08:17:21 PM,NaN,DSNY,Department of Sanitation,Graffiti,Graffiti,Residential,11214,126 BAY 53 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,40.582920,-73.986863,"(40.58291955234777, -73.98686312710399)",31911011

In [83]:
os.system("curl -O  http://cosmo.nyu.edu/~fb55/PUI2016/data/Final_Demographics.csv")
os.system("mv " + "http://cosmo.nyu.edu/~fb55/PUI2016/data/Final_Demographics.csv " + os.getenv("PUIDATA"))

os.system("curl -O  http://cosmo.nyu.edu/~fb55/PUI2016/data/ACS_Computer_Use_and_Internet_2014_1Year_Estimate.csv")
os.system("mv " + "http://cosmo.nyu.edu/~fb55/PUI2016/data/ACS_Computer_Use_and_Internet_2014_1Year_Estimate.csv " + os.getenv("PUIDATA"))

-1