In [1]:
import os
import pandas as pd
import numpy as np
import re

In [2]:
PUIdata = os.getenv('PUIDATA')

In [3]:
df_cusp = pd.read_csv('/projects/open/NYCOpenData/nycopendata/data/erm2-nwe9/1446832678/erm2-nwe9', usecols = [0, 23])

In [4]:
df_cusp.columns

Index(['Unique Key', 'Community Board'], dtype='object')

In [5]:
df_cusp = df_cusp.drop_duplicates('Community Board')

In [7]:
df_cusp['Community Board']

0                      13 BROOKLYN
1                    0 Unspecified
2                      18 BROOKLYN
3                      12 BROOKLYN
5                 02 STATEN ISLAND
7                     08 MANHATTAN
8                      06 BROOKLYN
10                        10 BRONX
11                    06 MANHATTAN
12                     04 BROOKLYN
13                       04 QUEENS
14                    09 MANHATTAN
15                     14 BROOKLYN
16                    05 MANHATTAN
18                    02 MANHATTAN
19                       10 QUEENS
20                       07 QUEENS
21                       02 QUEENS
23                     11 BROOKLYN
24                       05 QUEENS
25                     05 BROOKLYN
27                       09 QUEENS
32                    12 MANHATTAN
34                     01 BROOKLYN
36                    11 MANHATTAN
37                        03 BRONX
39                03 STATEN ISLAND
40                     08 BROOKLYN
43                     03 BROOKLYN
46                    07 MANHATTAN
                   ...
118                       05 BRONX
119                    15 BROOKLYN
121                    02 BROOKLYN
127                       12 BRONX
130                      03 QUEENS
145                      06 QUEENS
147               01 STATEN ISLAND
159                       01 BRONX
163                      01 QUEENS
169                    17 BROOKLYN
186                       11 BRONX
218             Unspecified QUEENS
223                    09 BROOKLYN
231          Unspecified MANHATTAN
234           Unspecified BROOKLYN
236                    07 BROOKLYN
489              Unspecified BRONX
2404                  64 MANHATTAN
3798                     81 QUEENS
5218                   55 BROOKLYN
5733                     83 QUEENS
6284     Unspecified STATEN ISLAND
6378                      28 BRONX
8430                     80 QUEENS
8455                      26 BRONX
9516              95 STATEN ISLAND
17464                    82 QUEENS
27661                     27 BRONX
32926                  56 BROOKLYN
41764                    84 QUEENS
Name: Community Board, dtype: object

In [14]:
cdist_1 = df_cusp['Community Board'].unique()
cdist_1

array(['13 BROOKLYN', '0 Unspecified', '18 BROOKLYN', '12 BROOKLYN',
       '02 STATEN ISLAND', '08 MANHATTAN', '06 BROOKLYN', '10 BRONX',
       '06 MANHATTAN', '04 BROOKLYN', '04 QUEENS', '09 MANHATTAN',
       '14 BROOKLYN', '05 MANHATTAN', '02 MANHATTAN', '10 QUEENS',
       '07 QUEENS', '02 QUEENS', '11 BROOKLYN', '05 QUEENS', '05 BROOKLYN',
       '09 QUEENS', '12 MANHATTAN', '01 BROOKLYN', '11 MANHATTAN',
       '03 BRONX', '03 STATEN ISLAND', '08 BROOKLYN', '03 BROOKLYN',
       '07 MANHATTAN', '10 MANHATTAN', '04 BRONX', '01 MANHATTAN',
       '07 BRONX', '09 BRONX', '03 MANHATTAN', '13 QUEENS', '02 BRONX',
       '12 QUEENS', '16 BROOKLYN', '08 QUEENS', '04 MANHATTAN',
       '14 QUEENS', '10 BROOKLYN', '11 QUEENS', '06 BRONX', '08 BRONX',
       '05 BRONX', '15 BROOKLYN', '02 BROOKLYN', '12 BRONX', '03 QUEENS',
       '06 QUEENS', '01 STATEN ISLAND', '01 BRONX', '01 QUEENS',
       '17 BROOKLYN', '11 BRONX', 'Unspecified QUEENS', '09 BROOKLYN',
       'Unspecified MANHATTAN', 'Unspecified BROOKLYN', '07 BROOKLYN',
       'Unspecified BRONX', '64 MANHATTAN', '81 QUEENS', '55 BROOKLYN',
       '83 QUEENS', 'Unspecified STATEN ISLAND', '28 BRONX', '80 QUEENS',
       '26 BRONX', '95 STATEN ISLAND', '82 QUEENS', '27 BRONX',
       '56 BROOKLYN', '84 QUEENS'], dtype=object)

In [15]:
len(df_cusp['Community Board'].unique())

77

In [16]:
df_cusp.count()

Unique Key         77
Community Board    77
dtype: int64

In [30]:
drop_dist = ['0 Unspecified', 
            'Unspecified MANHATTAN', '64 MANHATTAN', 
            'Unspecified BROOKLYN', '55 BROOKLYN', 
            'Unspecified BRONX', '26 BRONX', '27 BRONX', 
            'Unspecified QUEENS', '83 QUEENS', '80 QUEENS', '82 QUEENS', '81 QUEENS'
            'Unspecified STATEN ISLAND', '95 STATEN ISLAND', ]

In [31]:
df_cusp1 = df_cusp[~df_cusp['Community Board'].isin(drop_dist)]
len(df_cusp1['Community Board'].unique())

64

In [32]:
cdist_2 = df_cusp1['Community Board'].unique()
cdist_2

array(['13 BROOKLYN', '18 BROOKLYN', '12 BROOKLYN', '02 STATEN ISLAND',
       '08 MANHATTAN', '06 BROOKLYN', '10 BRONX', '06 MANHATTAN',
       '04 BROOKLYN', '04 QUEENS', '09 MANHATTAN', '14 BROOKLYN',
       '05 MANHATTAN', '02 MANHATTAN', '10 QUEENS', '07 QUEENS',
       '02 QUEENS', '11 BROOKLYN', '05 QUEENS', '05 BROOKLYN', '09 QUEENS',
       '12 MANHATTAN', '01 BROOKLYN', '11 MANHATTAN', '03 BRONX',
       '03 STATEN ISLAND', '08 BROOKLYN', '03 BROOKLYN', '07 MANHATTAN',
       '10 MANHATTAN', '04 BRONX', '01 MANHATTAN', '07 BRONX', '09 BRONX',
       '03 MANHATTAN', '13 QUEENS', '02 BRONX', '12 QUEENS', '16 BROOKLYN',
       '08 QUEENS', '04 MANHATTAN', '14 QUEENS', '10 BROOKLYN',
       '11 QUEENS', '06 BRONX', '08 BRONX', '05 BRONX', '15 BROOKLYN',
       '02 BROOKLYN', '12 BRONX', '03 QUEENS', '06 QUEENS',
       '01 STATEN ISLAND', '01 BRONX', '01 QUEENS', '17 BROOKLYN',
       '11 BRONX', '09 BROOKLYN', '07 BROOKLYN', '81 QUEENS',
       'Unspecified STATEN ISLAND', '28 BRONX', '56 BROOKLYN', '84 QUEENS'], dtype=object)