In [19]:
import os
import zipfile
import numpy as np
import pandas as pd
import json
import urllib as ulr
import seaborn as sns
import shapely
import geopandas as gp
import scipy.stats as sp
import matplotlib.pylab as plt
import sklearn
import sklearn.cluster as cluster
from sklearn.cluster import KMeans
from sklearn.cluster import DBSCAN
from sklearn import mixture
from sklearn.decomposition import PCA
from sklearn.metrics import silhouette_samples, silhouette_score
%matplotlib inline

**Curl Business Data from US Census URL and move to PUIDATA folder**

WARNING!!! Do NOT run the cell below if you already have data stored locally as it will take a LONG time.
Instead, manually download to a local directory and adjust my data paths below accordingly.

In [ ]:
os.system("curl -O ftp://ftp.census.gov/Econ2001_And_Earlier/CBP_CSV/zbp00totals.zip")
os.system("curl -O ftp://ftp.census.gov/Econ2001_And_Earlier/CBP_CSV/zbp01totals.zip")
os.system("curl -O ftp://ftp.census.gov/Econ2001_And_Earlier/CBP_CSV/zbp94totals.zip")
os.system("curl -O ftp://ftp.census.gov/Econ2001_And_Earlier/CBP_CSV/zbp95totals.zip")
os.system("curl -O ftp://ftp.census.gov/Econ2001_And_Earlier/CBP_CSV/zbp96totals.zip")
os.system("curl -O ftp://ftp.census.gov/Econ2001_And_Earlier/CBP_CSV/zbp97totals.zip")
os.system("curl -O ftp://ftp.census.gov/Econ2001_And_Earlier/CBP_CSV/zbp96totals.zip")
os.system("curl -O ftp://ftp.census.gov/Econ2001_And_Earlier/CBP_CSV/zbp97totals.zip")
os.system("curl -O ftp://ftp.census.gov/econ2002/CBP_CSV/zbp02totals.zip")
os.system("curl -O ftp://ftp.census.gov/econ2003/CBP_CSV/zbp03totals.zip")
os.system("curl -O ftp://ftp.census.gov/econ2004/CBP_CSV/zbp04totals.zip")
os.system("curl -O ftp://ftp.census.gov/econ2005/CBP_CSV/zbp05totals.zip")
os.system("curl -O ftp://ftp.census.gov/econ2006/CBP_CSV/zbp06totals.zip")
os.system("curl -O ftp://ftp.census.gov/econ2007/CBP_CSV/zbp07totals.zip")
os.system("curl -O ftp://ftp.census.gov/econ2008/CBP_CSV/zbp08totals.zip")
os.system("curl -O ftp://ftp.census.gov/econ2009/CBP_CSV/zbp09totals.zip")
os.system("curl -O ftp://ftp.census.gov/econ2010/CBP_CSV/zbp10totals.zip")
os.system("curl -O ftp://ftp.census.gov/econ2011/CBP_CSV/zbp11totals.zip")
os.system("curl -O ftp://ftp.census.gov/econ2012/CBP_CSV/zbp12totals.zip")
os.system("curl -O ftp://ftp.census.gov/econ2013/CBP_CSV/zbp13totals.zip")
os.system("curl -O ftp://ftp.census.gov/econ2014/CBP_CSV/zbp14totals.zip")
os.system("curl -O ftp://ftp.census.gov/econ2015/CBP_CSV/zbp15totals.zip")

os.system("unzip " + "zbp00totals.zip")
os.system("unzip " + "zbp01totals.zip")
os.system("unzip " + "zbp94totals.zip")
os.system("unzip " + "zbp95totals.zip")
os.system("unzip " + "zbp96totals.zip")
os.system("unzip " + "zbp97totals.zip")
os.system("unzip " + "zbp96totals.zip")
os.system("unzip " + "zbp97totals.zip")
os.system("unzip " + "zbp02totals.zip")
os.system("unzip " + "zbp03totals.zip")
os.system("unzip " + "zbp04totals.zip")
os.system("unzip " + "zbp05totals.zip")
os.system("unzip " + "zbp06totals.zip")
os.system("unzip " + "zbp07totals.zip")
os.system("unzip " + "zbp08totals.zip")
os.system("unzip " + "zbp09totals.zip")
os.system("unzip " + "zbp10totals.zip")
os.system("unzip " + "zbp11totals.zip")
os.system("unzip " + "zbp12totals.zip")
os.system("unzip " + "zbp13totals.zip")
os.system("unzip " + "zbp14totals.zip")
os.system("unzip " + "zbp15totals.zip")

os.system("rm " + "zbp00totals.zip")
os.system("rm " + "zbp01totals.zip")
os.system("rm " + "zbp94totals.zip")
os.system("rm " + "zbp95totals.zip")
os.system("rm " + "zbp96totals.zip")
os.system("rm " + "zbp97totals.zip")
os.system("rm " + "zbp96totals.zip")
os.system("rm " + "zbp97totals.zip")
os.system("rm " + "zbp02totals.zip")
os.system("rm " + "zbp03totals.zip")
os.system("rm " + "zbp04totals.zip")
os.system("rm " + "zbp05totals.zip")
os.system("rm " + "zbp06totals.zip")
os.system("rm " + "zbp07totals.zip")
os.system("rm " + "zbp08totals.zip")
os.system("rm " + "zbp09totals.zip")
os.system("rm " + "zbp10totals.zip")
os.system("rm " + "zbp11totals.zip")
os.system("rm " + "zbp12totals.zip")
os.system("rm " + "zbp13totals.zip")
os.system("rm " + "zbp14totals.zip")
os.system("rm " + "zbp15totals.zip")

os.system("mv " + "zbp00totals.txt " + os.getenv("PUIDATA"))
os.system("mv " + "zbp01totals.txt " + os.getenv("PUIDATA"))
os.system("mv " + "zbp94totals.txt " + os.getenv("PUIDATA"))
os.system("mv " + "zbp95totals.txt " + os.getenv("PUIDATA"))
os.system("mv " + "zbp96totals.txt " + os.getenv("PUIDATA"))
os.system("mv " + "zbp97totals.txt " + os.getenv("PUIDATA"))
os.system("mv " + "zbp98totals.txt " + os.getenv("PUIDATA"))
os.system("mv " + "zbp99totals.txt " + os.getenv("PUIDATA"))
os.system("mv " + "zbp02totals.txt " + os.getenv("PUIDATA"))
os.system("mv " + "zbp03totals.txt " + os.getenv("PUIDATA"))
os.system("mv " + "zbp04totals.txt " + os.getenv("PUIDATA"))
os.system("mv " + "zbp05totals.txt " + os.getenv("PUIDATA"))
os.system("mv " + "zbp06totals.txt " + os.getenv("PUIDATA"))
os.system("mv " + "zbp07totals.txt " + os.getenv("PUIDATA"))
os.system("mv " + "zbp08totals.txt " + os.getenv("PUIDATA"))
os.system("mv " + "zbp09totals.txt " + os.getenv("PUIDATA"))
os.system("mv " + "zbp10totals.txt " + os.getenv("PUIDATA"))
os.system("mv " + "zbp11totals.txt " + os.getenv("PUIDATA"))
os.system("mv " + "zbp12totals.txt " + os.getenv("PUIDATA"))
os.system("mv " + "zbp13totals.txt " + os.getenv("PUIDATA"))
os.system("mv " + "zbp14totals.txt " + os.getenv("PUIDATA"))
os.system("mv " + "zbp15totals.txt " + os.getenv("PUIDATA"))

os.system("curl -O https://github.com/fedhere/PUI2016_fb55/blob/master/HW11_fb55/nyc-zip-code-tabulation-areas-polygons.geojson")
os.system("unzip " + "nyc-zip-code-tabulation-areas-polygons.geojson")
os.system("rm " + "nyc-zip-code-tabulation-areas-polygons.geojson")
os.system("mv " + "nyc-zip-code-tabulation-areas-polygons.geojson " + os.getenv("PUIDATA"))

In [2]:
df_94 = pd.read_csv(os.getenv("PUIDATA") + "/" + "zbp94totals.txt")
df_95 = pd.read_csv(os.getenv("PUIDATA") + "/" + "zbp95totals.txt")
df_96 = pd.read_csv(os.getenv("PUIDATA") + "/" + "zbp96totals.txt")
df_97 = pd.read_csv(os.getenv("PUIDATA") + "/" + "zbp97totals.txt")
df_98 = pd.read_csv(os.getenv("PUIDATA") + "/" + "zbp98totals.txt")
df_99 = pd.read_csv(os.getenv("PUIDATA") + "/" + "zbp99totals.txt")
df_00 = pd.read_csv(os.getenv("PUIDATA") + "/" + "zbp00totals.txt")
df_01 = pd.read_csv(os.getenv("PUIDATA") + "/" + "zbp01totals.txt")
df_02 = pd.read_csv(os.getenv("PUIDATA") + "/" + "zbp02totals.txt")
df_03 = pd.read_csv(os.getenv("PUIDATA") + "/" + "zbp03totals.txt")
df_04 = pd.read_csv(os.getenv("PUIDATA") + "/" + "zbp04totals.txt")
df_05 = pd.read_csv(os.getenv("PUIDATA") + "/" + "zbp05totals.txt")
df_06 = pd.read_csv(os.getenv("PUIDATA") + "/" + "zbp06totals.txt")
df_07 = pd.read_csv(os.getenv("PUIDATA") + "/" + "zbp07totals.txt")
df_08 = pd.read_csv(os.getenv("PUIDATA") + "/" + "zbp08totals.txt")
df_09 = pd.read_csv(os.getenv("PUIDATA") + "/" + "zbp09totals.txt")
df_10 = pd.read_csv(os.getenv("PUIDATA") + "/" + "zbp10totals.txt")
df_11 = pd.read_csv(os.getenv("PUIDATA") + "/" + "zbp11totals.txt")
df_12 = pd.read_csv(os.getenv("PUIDATA") + "/" + "zbp12totals.txt")
df_13 = pd.read_csv(os.getenv("PUIDATA") + "/" + "zbp13totals.txt")
df_14 = pd.read_csv(os.getenv("PUIDATA") + "/" + "zbp14totals.txt")

**Now to Wrangle the GeoJSON Data** *(curled from Github Repo of Federica Bianco)*

In [3]:
url = "https://raw.githubusercontent.com/fedhere/PUI2016_fb55/master/HW11_fb55/nyc-zip-code-tabulation-areas-polygons.geojson" 
response = ulr.urlopen(url)
data = response.read().decode("utf-8")
data = json.loads(data)

In [4]:
def get_geojson(json):
    """
    A function that retrieves information needed from the json data file and creates a dataframe
    """
    df=pd.DataFrame()
    df['geometry']=[]
    df['PO_NAME']=[]
    df['Shape_Leng']=[]
    df['Shape_Area']=[]
    df['borough']=[]
    df['postalCode']=[]
    
    for i in range(262):
        df = df.append({'geometry': (data['features'][i]['geometry']['coordinates'][0]),
                        'PO_NAME' : data['features'][i]['properties']['PO_NAME'],
                        'Shape_Area' : data['features'][i]['properties']['Shape_Area'],
                        'Shape_Leng' : data['features'][i]['properties']['Shape_Leng'],
                        'borough' : data['features'][i]['properties']['borough'],
                        'postalCode' : data['features'][i]['properties']['postalCode']
                       },ignore_index=True)

    return df

In [5]:
dfg=get_geojson(data['features'])

In [6]:
dfg=gp.GeoDataFrame(dfg)

In [7]:
dfg.columns=['geometry', 'PO_NAME', 'Shape_Leng', 'Shape_Area', 'borough',
       'zip']

In [8]:
dfg.head()

,geometry,PO_NAME,Shape_Leng,Shape_Area,borough,zip
0,"[[-73.8694245728, 40.749156871], [-73.89507143...",Jackson Heights,20624.692317,2.016328e+07,Queens,11372
1,"[[-73.7106837407, 40.7500403945], [-73.7086939...",Glen Oaks,23002.816039,2.260653e+07,Queens,11004
2,"[[-73.7009827863, 40.7388956992], [-73.7030872...",New Hyde Park,15749.161511,6.269333e+06,Queens,11040
3,"[[-73.7227044714, 40.7537337144], [-73.7225062...",Bellerose,35932.810639,4.941836e+07,Queens,11426
4,"[[-73.8108863474, 40.7271718758], [-73.8111563...",Fresh Meadows,38693.565676,6.938587e+07,Queens,11365

**Prepare Business ZIP Data to merge**

In [9]:
df_94=df_94.iloc[:,[0,6]]
df_95=df_95.iloc[:,[0,6]]
df_96=df_96.iloc[:,[0,6]]
df_97=df_97.iloc[:,[0,6]]
df_98=df_98.iloc[:,[0,6]]
df_99=df_99.iloc[:,[0,6]]
df_00=df_00.iloc[:,[0,6]]
df_01=df_01.iloc[:,[0,6]]
df_02=df_02.iloc[:,[0,6]]
df_03=df_03.iloc[:,[0,6]]
df_04=df_04.iloc[:,[0,6]]
df_05=df_05.iloc[:,[0,6]]
df_06=df_06.iloc[:,[0,6]]
df_07=df_07.iloc[:,[0,9]]
df_08=df_08.iloc[:,[0,9]]
df_09=df_09.iloc[:,[0,9]]
df_10=df_10.iloc[:,[0,9]]
df_11=df_11.iloc[:,[0,9]]
df_12=df_12.iloc[:,[0,9]]
df_13=df_13.iloc[:,[0,9]]
df_14=df_14.iloc[:,[0,9]]

In [10]:
df_98.columns=['zip','est']
df_99.columns=['zip','est']
df_00.columns=['zip','est']
df_01.columns=['zip','est']
df_02.columns=['zip','est']

**Actually Merge Data**

In [11]:
#Make a list from all business ZIP dataframes
bus_list=[df_94,df_95,df_96,df_97,df_98,df_99,df_00,df_01,df_02,df_03,df_04,
     df_05,df_06,df_07,df_08,df_09,df_10,df_11,df_12,df_13,df_14]

for i in bus_list:
    if 'zip' in i.columns:
        i['zip']=i['zip'].astype(str)
        dfg = pd.merge(left =  dfg, 
                             right= i, 
                             how = 'left', 
                             on = 'zip')

In [12]:
#Build a list to rename df columns
df_columns=['geometry', 'PO_NAME', 'Shape_Leng', 'Shape_Area', 'borough', 'zip']
years=range(1994,2015)
for i in years:
    df_columns.append(str(i))

In [13]:
dfg.columns=df_columns
dfg.head()

,geometry,PO_NAME,Shape_Leng,Shape_Area,borough,zip,1994,1995,1996,1997,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014
0,"[[-73.8694245728, 40.749156871], [-73.89507143...",Jackson Heights,20624.692317,2.016328e+07,Queens,11372,1229.0,1236.0,1292.0,1309.0,...,1539.0,1527.0,1545.0,1538.0,1572.0,1629.0,1647.0,1724.0,1759.0,1768.0
1,"[[-73.7106837407, 40.7500403945], [-73.7086939...",Glen Oaks,23002.816039,2.260653e+07,Queens,11004,194.0,188.0,176.0,192.0,...,225.0,226.0,238.0,227.0,233.0,229.0,222.0,241.0,241.0,250.0
2,"[[-73.7009827863, 40.7388956992], [-73.7030872...",New Hyde Park,15749.161511,6.269333e+06,Queens,11040,1422.0,1414.0,1335.0,1344.0,...,1441.0,1454.0,1488.0,1503.0,1475.0,1494.0,1488.0,1510.0,1539.0,1534.0
3,"[[-73.7227044714, 40.7537337144], [-73.7225062...",Bellerose,35932.810639,4.941836e+07,Queens,11426,326.0,219.0,209.0,198.0,...,226.0,226.0,228.0,226.0,237.0,248.0,256.0,266.0,258.0,260.0
4,"[[-73.8108863474, 40.7271718758], [-73.8111563...",Fresh Meadows,38693.565676,6.938587e+07,Queens,11365,492.0,476.0,483.0,522.0,...,604.0,608.0,617.0,616.0,628.0,643.0,677.0,679.0,714.0,731.0

In [14]:
dfg.iloc[:, 6:].describe()

/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/numpy/lib/function_base.py:3834: RuntimeWarning: Invalid value encountered in percentile
  RuntimeWarning)

,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014
count,255.000000,251.000000,252.000000,252.000000,252.000000,249.000000,253.000000,253.000000,252.000000,252.000000,...,254.000000,255.000000,256.000000,253.000000,253.000000,254.000000,253.000000,251.000000,251.000000,250.000000
mean,753.301961,780.446215,787.369048,806.873016,818.666667,834.686747,835.936759,835.790514,844.833333,854.678571,...,867.700787,869.533333,872.996094,889.162055,893.723320,903.842520,918.881423,942.980080,960.924303,979.932000
std,1126.814763,1159.086499,1160.771736,1185.509721,1196.503868,1198.974454,1215.367687,1219.853192,1185.377532,1185.936198,...,1210.201625,1216.154349,1199.140913,1199.305114,1184.002565,1184.687564,1190.480549,1204.430141,1216.102978,1226.936034
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,6999.000000,7088.000000,7075.000000,7154.000000,7254.000000,7233.000000,7317.000000,7188.000000,7141.000000,7084.000000,...,7312.000000,7415.000000,7549.000000,7472.000000,7305.000000,7241.000000,7227.000000,7235.000000,7273.000000,7369.000000

**Data Whitening Phase**

In [15]:
for year in dfg.iloc[:, 6:]:
    for i in range(0, len(dfg)):
        dfg[year][i] = ((dfg[year][i] - dfg[year].mean()) / dfg[year].std())

/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

In [16]:
dfg.head()

,geometry,PO_NAME,Shape_Leng,Shape_Area,borough,zip,1994,1995,1996,1997,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014
0,"[[-73.8694245728, 40.749156871], [-73.89507143...",Jackson Heights,20624.692317,2.016328e+07,Queens,11372,0.422162,0.393028,0.434737,0.423554,...,0.554700,0.540611,0.560404,0.541012,0.572868,0.612109,0.611617,0.648456,0.656257,0.642306
1,"[[-73.7106837407, 40.7500403945], [-73.7086939...",Glen Oaks,23002.816039,2.260653e+07,Queens,11004,-0.491826,-0.506587,-0.522000,-0.513992,...,-0.525857,-0.524013,-0.524297,-0.546783,-0.552540,-0.564004,-0.579667,-0.576919,-0.586016,-0.588905
2,"[[-73.7009827863, 40.7388956992], [-73.7030872...",New Hyde Park,15749.161511,6.269333e+06,Queens,11040,0.597849,0.550958,0.476376,0.457671,...,0.479054,0.485816,0.518214,0.517139,0.496484,0.503876,0.483817,0.476844,0.481463,0.457708
3,"[[-73.7227044714, 40.7537337144], [-73.7225062...",Bellerose,35932.810639,4.941836e+07,Queens,11426,-0.368922,-0.474045,-0.488033,-0.503360,...,-0.519101,-0.518099,-0.526503,-0.541371,-0.542857,-0.541642,-0.544800,-0.549678,-0.565482,-0.574147
4,"[[-73.8108863474, 40.7271718758], [-73.8111563...",Fresh Meadows,38693.565676,6.938587e+07,Queens,11365,-0.220497,-0.251732,-0.251477,-0.229694,...,-0.206358,-0.203607,-0.201713,-0.215824,-0.212243,-0.207789,-0.190771,-0.206340,-0.190182,-0.190005

**Compiling Statistical Information on new DF**

In [17]:
dfg.iloc[:, 6:].mean()

1994    0.773241
1995    0.766681
1996    0.785010
1997    0.800471
1998    0.795113
1999    0.805850
2000    0.859727
2001    0.868568
2002    0.887269
2003    0.891574
2004    0.882743
2005    0.846061
2006    0.867578
2007    0.892123
2008    0.904146
2009    0.928636
2010    0.925212
2011    0.932719
2012    0.941984
2013    0.947037
2014    0.961125
dtype: float64

In [18]:
dfg.iloc[:, 6:].std()

1994    2.011375
1995    2.015350
1996    2.039033
1997    2.130678
1998    2.125079
1999    2.145035
2000    2.297194
2001    2.317076
2002    2.294902
2003    2.285603
2004    2.196610
2005    2.077841
2006    2.085088
2007    2.252537
2008    2.282440
2009    2.325688
2010    2.307882
2011    2.318264
2012    2.320021
2013    2.314552
2014    2.341915
dtype: float64

**Making the Cluster**

In [20]:
dfg.dropna(inplace=True)

In [21]:
scaled_data = dfg.iloc[:, 6:]

In [22]:
#Calculate the Silhouette Score to decide the number of clusters
X=scaled_data
range_n_clusters = [3, 4, 5, 6, 7, 8, 9]
for n_clusters in range_n_clusters:
    km = sklearn.cluster.KMeans(n_clusters=n_clusters, random_state=324) #the clustering model we choose (HH)
    cluster_labels = km.fit_predict(X)
    silhouette_avg = silhouette_score(X, cluster_labels)
    print("For n_clusters ={},".format(n_clusters)+" the average silhouette_score is :{}".format(silhouette_avg))

For n_clusters =3, the average silhouette_score is :0.753489486768
For n_clusters =4, the average silhouette_score is :0.671902442094
For n_clusters =5, the average silhouette_score is :0.594185016254
For n_clusters =6, the average silhouette_score is :0.61120128493
For n_clusters =7, the average silhouette_score is :0.606026607773
For n_clusters =8, the average silhouette_score is :0.618105892432
For n_clusters =9, the average silhouette_score is :0.622254575343

In [23]:
'''
We've opted to have 3 clusters, since the average silhouette score after running the cell above
was highest at n=3
'''
n=3 

#Kmeans
KM=cluster.KMeans(n_clusters=n)
KM.fit(scaled_data)
res_KM=KM.predict(scaled_data)

#merge the result with zipcodes for graph plotting
res_KM=pd.concat((dfg.loc[:, 'zip'],pd.DataFrame(res_KM)),axis=1)
res_KM.columns = ['zip', 'cluster']
res_KM.head()

     zip  cluster
0  11372      0.0
1  11004      0.0
2  11040      0.0
3  11426      0.0
4  11365      0.0

In [24]:
print 'Number of zipcodes in first cluster: %d' %res_KM.groupby('cluster').size()[0]
print 'Number of zipcodes in second cluster: %d' %res_KM.groupby('cluster').size()[1]
print 'Number of zipcodes in third cluster: %d' %res_KM.groupby('cluster').size()[2]

Number of zipcodes in first cluster: 211
Number of zipcodes in second cluster: 4
Number of zipcodes in third cluster: 28

In [25]:
dfg = pd.merge(left=dfg, right=res_KM, how='left', on='zip')

In [ ]:
dfg.plot(c=dfg.cluster)